@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #313A46;
    font-family: 'Montserrat', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 .body-content .page-header {
        color: #FFFFFF;
    }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.tile {
    text-align: center;
}

.tile-value {
    font-size: 32px;
    font-weight: bold;
}

.tile-title {
    font-size: 16px;
    font-style: italic;
}

small {
    font-size: 75%;
    font-weight: lighter;
}

.last-update {
    color: #FFFFFF;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

footer {
    color: #FFFFFF;
    text-align: center;
}
